@import './theme';

:root{
  --bg-color: #454648;
  --font-color: #fff;
}

.content{
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
