<div style="text-align: center">
  <nav>
    <ul>
      <li><a routerLink="/">Page A</a></li>
      <li><a routerLink="/page-b">Page B</a></li>
      <li><a routerLink="/authentication/page-c">Page C</a></li>
      <li><a routerLink="/authentication/page-d">Page D</a></li>
      <li><a routerLink="/home/page-e">Page E</a></li>
      <li><a routerLink="/home/page-f">Page F</a></li>
    </ul>
  </nav>

  <h1>{{ title }} with Angular v{{ ngVersion }}</h1>
  <p>BDS v{{ bdsVersion }}</p>
  <button bc-button>
    <bc-icon>times</bc-icon>
    <span>Test</span>
  </button>
  <div class="bc-mt-5" style="border: 5px solid salmon; padding: 1rem">
    <router-outlet></router-outlet>
  </div>
</div>
