<div style="text-align: center">
  <nav>
    <ul style="list-style: none; display: flex; gap: 1rem; justify-content: center">
      <li><a routerLink="/home/page-e">Go to Page E</a></li>
      <li><a routerLink="/home/page-f">Go to Page F</a></li>
      <li><a routerLink="/authentication/page-d">Go to Page D</a></li>
    </ul>
  </nav>

  <h1>{{ title() }} with Angular v{{ ngVersion() }}</h1>
  <p>BDS v{{ bdsVersion() }}</p>

  <button>
    <span>Test</span>
  </button>

  <div class="bc-mt-5" style="border: 5px solid green; padding: 1rem">
    <router-outlet> </router-outlet>
  </div>
</div>
